<%- include('../partials/header') %>
<section class="add-form">
  <section >
    <form class="new-form" action="/flights/<%= flightId  %>/tickets" method="POST">
      <h2>Add New Ticket</h2>
      <label>Seat Selection:</label>
      <input name="seat" required pattern="[A-F][1-9]\d?">
      <br><br>
      <label>Price:</label>
      <input type="number" name="price"  min="0" step="5">
      <br>
      <input class="submit" type="submit" value="Buy Ticket">
    </form>
  </section>
</section>



<%- include('../partials/footer') %>